@use '../base/colors' as *;
@use '../base/spacing' as *;

.card {
    display: grid;
    grid-template-rows: 166px 1fr;
    width: 227px;
    border: 1px solid $border-light;

    &__image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        display: grid;
        grid-template-rows: repeat(3, auto) 50px;
        padding: $spacing-2;

        &__title {
            font-size: 1.25rem;
            line-height: 1.2;
            font-weight: bold;
            padding: $spacing-2 0;
        }

        &__description {
            font-size: 0.8rem;
            line-height: 1.4;
            color: $text-medium;
            padding: $spacing-1 0 $spacing-5;
        }

        &__published-date {
            text-align: right;
            font-size: 0.8rem;
            line-height: 1.2;
            color: $text-light;
            padding-bottom: $spacing-2;

            span {
                color: $secondary-color;

                &:first-child {
                    margin-right: $spacing-1;
                    color: $text-black;
                }   
            }
        }

        &__actions {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: $spacing-1 0 0;


            button {
                width: 100%;
                height: 100%;
            }
        }
    }
}