@use '../utilities' as *;
@use '../base/spacing' as *;
@use '../base/variables' as *;

header {
    .toolbar {
        display: none;
        @include media-breakpoint(sm) {
            display: flex;
            justify-content: space-between;
            padding: $spacing-3;
            align-items: center;

        }   
    }

    .page-title {
        background-color: $color-primary;
        padding: $spacing-4 $spacing-3;
        color: white;
        font-weight: bold;
    }
}