@use '../base' as *;
@use '../utilities/breakpoints' as *;

.list {
    display: flex;
    flex-direction: column;
    gap: $spacing-1;

    @include media-breakpoint(sm) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        gap: $spacing-4 $spacing-12;

        .item {
            flex-basis: 45%;
            max-width: 200px;
        }
    }

    @include media-breakpoint(md) {
        gap: $spacing-5 $spacing-3;
        height: auto;

        .item:nth-last-of-type(-n + 2) {
            flex-basis: 42%;
            margin: 0 auto;
        }
    }

    @include media-breakpoint(xl) {
        .item:nth-last-of-type(-n + 2) {
            flex-basis: 45%;
            max-width: 200px;
            margin: 0;
        }
    }
}