@use '../base' as *;
@use '../utilities/breakpoints' as *;

nav {
    background-color: $color-secondary;
    position: sticky;
    top: 0;
    z-index: 1;

    @include media-breakpoint(sm) {
        padding: 0;
        position: relative;
    }

    .menu-container {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1;
        padding: $spacing-3;


        @include media-breakpoint(sm) {
            flex-flow: column;
            padding: 0;

        }

        .menu-title {
            display: none;

            @include media-breakpoint(sm) {
                display: block;
                padding: $spacing-3;
                color: white;
                font-weight: bold;
                text-align: center;
            }
        }

        ul {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            gap: $spacing-3;
            padding-right: 1px;

            @include media-breakpoint(sm) {
                flex-direction: column;
                align-items: flex-start;
                gap: 0;
            }

            li {
                padding: $spacing-1 $spacing-2;
                background-color: $color-neutral;
                flex: 1 1 auto;
                text-align: center;

                @include media-breakpoint(sm) {
                    width: 100%;
                    text-align: left;
                    padding: $spacing-2 $spacing-3;
                    background-color: $color-primary-light;
                    border-bottom: 1px solid $color-secondary-light;

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}