<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles/index.css" />
		<title>Módulo Layout - Ejercicio 3</title>
	</head>
	<body>
		<main>
			<nav class="main-navigation" aria-label="Navegación principal">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Activities</a></li>
					<li><a href="#">About me</a></li>
				</ul>
			</nav>
		</main>
	</body>
</html>
