@use '../base' as *;
@use '../utilities/breakpoints' as *;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(1, 1fr);

    @include media-breakpoint(sm) {
        grid-template-columns: 200px 1fr;
        grid-template-rows: 1fr;
    }

    main {
        height: 100%;
        justify-content: center;
        align-items: flex-start;
    }
}