$spacing-base: 4px;

$spacing-0: 0;
$spacing-1: $spacing-base * 1;             // 4px
$spacing-2: $spacing-base * 2;             // 8px
$spacing-3: $spacing-base * 3;             // 12px
$spacing-4: $spacing-base * 4;             // 16px
$spacing-5: $spacing-base * 5;             // 20px
$spacing-6: $spacing-base * 6;             // 24px
$spacing-8: $spacing-base * 8;             // 32px
$spacing-10: $spacing-base * 10;           // 40px
$spacing-12: $spacing-base * 12;           // 48px
$spacing-16: $spacing-base * 16;           // 64px
$spacing-20: $spacing-base * 20;           // 80px