<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles/index.css" />
		<title>Módulo Layout - Ejercicio 2</title>
	</head>
	<body class="theme-B">
		<main class="home">
			<div class="flex-list flex-list-column">
				<div class="box box--base">
					Base
				</div>
				<div class="box box--important">
					Important
				</div>
				<div class="box box--warning">
					Warning
				</div>
				<div class="main-font">
					Principal Font
				</div>
				<div class="secondary-font">
					Secondary Font
				</div>
				<div class="box box--shadow">
					Box with shadow
				</div>
			</div>
		</main>
	</body>
</html>
