@use '../mixins' as *;

$main-navigation-bg: #00697B;
$main-navigation-item-active-bg: #2E4757;

.main-navigation {
    ul {
        display: flex;
        flex-direction: column;
        background-color: $main-navigation-bg;
        list-style: none;
        margin: 0;
        padding: 0;

        @include media-breakpoint(xs) {
            flex-direction: row;
            justify-content: space-between;
        }

        li {
            a {
                display: block;
                padding: 1rem;
                color: white;
                text-decoration: none;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    text-decoration: none;
                }

                &:focus,
                &:focus-visible {
                    border: 0;
                    outline: none;
                    outline-offset: 0;
                }

                &:active,
                &:focus {
                    background-color: $main-navigation-item-active-bg;
                }
            }
        }
    }
}