<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles/index.css" />
		<title>Módulo Layout - Ejercicio 3</title>
	</head>
	<body>
		<main>
			<div class="card">
				<div class="card__image">
					<img src="./assets/card_image.jpg" alt="Placeholder Image" />
				</div>
				<div class="card__content">
					<h2 class="card__content__title">Card Title</h2>
					<p class="card__content__description">
						This is a description of the card. It provides additional information about the content of the card.
					</p>
					<div class="card__content__published-date">
						<span>Published on:</span>
						<span>2024-06-01</span>
					</div>
					<div class="card__content__actions">
						<button class="button button--primary">Read More</button>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
